.starter-template {
  text-align: center;
}

body {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin, .form-register, .form-video {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-register .form-register-heading,
.form-video .form-video-heading {
  margin-bottom: 10px;
}
.form-signin .form-control,
.form-register .form-control,
.form-video .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus,
.form-register .form-control:focus,
.form-video .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"],
.form-register input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"],
.form-register input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

div {
  margin-left: auto;
  margin-right: auto;
}

.ziggeo {
  padding: 5px;
  width: 30%;
  display: inline-block;
}

ziggeo > div {
  z-index: 100;
  position: relative;
}

.player {
  min-height: 475px;
  text-align: center;
}

p.ziggeo {
  height: 350px;
  background-color: #ffffff;
  margin: 1%;
}

a {
  display: inline;
}